* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Ubuntu', sans-serif;

  
}

#conteudo {
  position: absolute;

  margin:80px auto;

  display: grid;
  grid-template-rows:100px 50px 400px;
  grid-template-columns: 500px 100px;
  grid-template-areas: 
  "info info"
  "controle  controle"
  "display  valores";
  grid-row-gap: 10px;
  grid-column-gap: 10px;

  justify-content: center;

  width: 100vw;
  height: 100vh;
}

#controle-de-cores {
  grid-area: controle;

  font-size: 24px;
}

#display {
  grid-area: display;

  font-family: 'Baloo Da 2', cursive;
  font-size: 26px;

  display: flex;

  justify-content: center;
  align-items: center;
  
  font-size: 26px;
  color: white;
  text-shadow: 2px 2px rgb(68, 68, 68);

  background-color: rgb(68, 68, 255);
}

#valores {
  grid-area: valores;

  padding-top: 65px;
}

#info h1{
  font-size: 36px;
  font-weight: bold;

  text-transform: uppercase;

  color: #080808;
}

#info p {
  line-height: 0px;
}

label {
  font-size: 24px;

  margin-right: 5px;
}

.btn {
  margin-left: 15px;

 height: 30px;

 cursor: pointer;
}

.invisible {
  opacity: 0;
}

input[type=range] { 
  width: fit-content;

  margin-right: 14.74px;
}

input[type=text] {
  width: 100%;  
  
  transform: rotate(90deg); 
  -webkit-transform: rotate(90deg); /* CHROME */
  -moz-transform: rotate(90deg); /* MOZILA */
  -o-transform: rotate(90deg); /* OPERA */
  filter: "progid:DXImageTransform.Microsoft.BasicImage(rotatio=0.090)";  /* IE8 */

  text-align: center;

  margin-bottom:90px;

  font-family: 'Baloo Da 2', cursive;
  font-size: 16px;
  font-weight: bold;

  color: #fff;

  text-shadow: 1px 1px rgb(0, 0, 0);
}

.input-vermelho {
  background-color: rgb(255, 68, 68);

  padding-top: 4px;
}

.input-verde {
  background-color: rgb(68, 255, 68);

  padding-top: 4px;
}

.input-azul {
  background-color: rgb(68, 68, 255);

  padding-top: 4px;
}